<section class="sessions-new">

  <header class="page-header">
    <h1>Login</h1>
  </header>

<%= form_tag "/login" do %>
  <div class="grid-container">
    Email: <%= text_field_tag :email %>
  </div>

  <div class="grid-container">
    Password: <%= password_field_tag :password %>
  </div>

  <div class="grid-container">
    <%= submit_tag "Submit" %>
  </div>

<% end %>
</section>
