
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

<section class="col-6 col-sm-6">

  <table class="table table-bordered">

<thead>
<tr> 
<th> Name</th>
<th> Total</th>
</tr>
</thead>
    <tr>
      <th> <%= link_to "PRODUCTS", [:admin, :products] %></th> 
      <td><%= @product_count %> </td>
    </tr>

    <tr>
      <th> <%= link_to "CATEGORIES", [:admin, :categories] %> </td> 
      <td> <%= @category_count %> </td>
    </tr>

  </table>

</section>