// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// App
@import 'products';

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 40em;
}
